---
{
    "stream": {
        "$id": "soy-testing",
        "source": "knowledgeGraph",
        "destination": "pages",
        "localization": {
            "locales": ["en"]
        },
        "fields": [
            "description",
            "meta",
            "id",
            "timezone",
            "name",
            "address"
        ],
        "filter": {
            "entityTypes": [
                "location"
            ]
        }
    },
    "urlTemplate": "kg-go-{{.meta.locale}}-{{.id}}.html"
}
---

{{define "eps.tmpl" -}}
<html>
    <body>
        <p>Spruce M4 Test EPS:</p>
        <p>Go HTML Template</p>
        <h1>The name is: {{.name}} ({{.meta.locale}})</h1>
        <h2>The description is: {{.description}}</h2>
        <p>The external entity id is: {{.id}}</p>
        <p>Global data test: {{.global.test}}</p>
    </body>
</html>
{{end}}
